#head-div {
height: 80px; /*норм почитай док-цию, ты заебала уже*/
width: 100%;
background-color: #C0F56E;
position: absolute;
top: 0;
bottom: 0;
left : 0;
}

@font-face {
font-family: 'Exo 2.0 Thin Italic';
src: url('fonts/Exo_Thin_Italic.ttf');
}
#head-text{
font-family: 'Exo 2.0 Thin Italic';
color: rgb(255, 255, 255);
font-size: 50px;
font-weight: bold;
text-align: left;
position: inherit;
bottom: -20px;
left: 50px;
}
/*Это еще не конец*/


