#map {
    display: block;
    position: relative;
    box-sizing: inherit;
    width: 100%;
    height: 620px;
}

.layout_cell_map {
    padding-top: 20px;
    padding-bottom: 60px;
    box-sizing: border-box;
    padding: 20px;
    min-width: 100%;
}

.base_map_content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.map_desc_cell_right {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 10px;
    min-width: 300px;
    max-width: 25%;
}

.desc {
    font-family: 'Exo 2.0 Thin Italic';
    font-weight: bold;
    font-size: 20px;
    color: black;
    text-align: justify;
}

.cat_pic {
    box-sizing: content-box;
    margin: 0 auto;
}


.ol-mouse-position {
    background-color: rgba(31, 29, 29, .8);
    border-radius: 4px;
    color: #eee;
    padding: 1px 5px;
}

.ol-zoom {
    background-color: rgba(31, 29, 29, .8);
}
.ol-zoom:hover{
    background-color: rgba(31, 29, 29, .8);
}
.ol-zoom button {
    background-color: rgba(31, 29, 29, .8);
}
.ol-zoom button:hover {
    background-color: rgba(31, 29, 29, .8);
}

.ol-scale-line {
    background-color: rgba(31, 29, 29, .8);
}

.ol-zoomslider {
    background-color: rgba(31, 29, 29, .8);
}
.ol-zoomslider:hover {
    background-color: rgba(31, 29, 29, .8);
}
.ol-zoomslider button {
    background-color: rgba(255, 255, 255, .8);
}
.ol-zoomslider button:hover {
    background-color: rgba(255, 255, 255, 1);
}

.popover-title {
    background: #85DA61;
    font-family: 'Exo 2.0 Thin Italic';
    color: white;
    font-size: 13.8pt;
    font-weight: bold;
}
.popover-content {
    width: 250px;
    font-family: 'Exo 2.0 Thin Italic';
    color: black;
    font-size: 11.5pt;
    font-weight: bold;
}
