#map {
    position: ; /*норм почитай док-цию, ты заебала уже*/
    height: 80px;
    width: 100%;
}

.ol-mouse-position {
    background-color: rgba(31, 29, 29, .8);
    border-radius: 4px;
    color: #eee;
    padding: 1px 5px;
}

.ol-zoom {
    background-color: rgba(31, 29, 29, .8);
}
.ol-zoom:hover{
    background-color: rgba(31, 29, 29, .8);
}
.ol-zoom button {
    background-color: rgba(31, 29, 29, .8);
}
.ol-zoom button:hover {
    background-color: rgba(31, 29, 29, .8);
}

.ol-scale-line {
    background-color: rgba(31, 29, 29, .8);
}

.ol-zoomslider {
    background-color: rgba(31, 29, 29, .8);
}
.ol-zoomslider:hover {
    background-color: rgba(31, 29, 29, .8);
}
.ol-zoomslider button {
    background-color: rgba(255, 255, 255, .8);
}
.ol-zoomslider button:hover {
    background-color: rgba(255, 255, 255, 1);
}