#head-div {
height: 80px;
width: 100%;
background-color: #85DA61;
position: absolute;
top: 0;
left: 0;
}

@font-face {
font-family: 'Exo 2.0 Thin Italic';
src: url('fonts/Exo_Thin_Italic.ttf');
}
#head-text{
font-family: 'Exo 2.0 Thin Italic';
color: rgb(255, 255, 255);
font-size: 50px;
height: 50px;
font-weight: bold;
position: absolute;
bottom: 10px;
left: 50px;
}
/*Это еще не конец*/


