<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Freya</title>

    {%block styles%}
    {% assets "page_css" %}
    	<link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% assets "map_css" %}
    	<link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% endblock %}

</head>
<body>
<div id="head-div"><h1 id="head-text">FREYA</h1></div>

<div id="map" style="height: 635px; margin-top: 90px;"></div>
<div style="display: none;">
    <div id="marker" title="Marker"></div>
</div>
{% assets "map_js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

</body>
</html>