<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Freya</title>{% endblock %}

    {%block styles%}
    {% assets "bt_css" %}
    	<link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% assets "page_css" %}
    	<link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% endblock %}

</head>
<body>
<div class="layout">
    <div class="layout_row layout_row_navbar">
        <div class="layout_cell">
            <div class="base-navbar">
                <div class="base-navbar_section base-navbar_section_left">
                    <a href="/" class="title">GRAVICAPA</a>
                </div>
                <div class="base-navbar_section base-navbar_section_right">
                    <ul class="navbar-links">
                       <li class="navbar-links_item">
                           <a href="/projects" class="navbar-links_item-link">Проекты</a>
                       </li>
                        <li class="navbar-links_item" id="last_item">
                           <a href="/freya_team" class="navbar-links_item-link">О нас</a>
                       </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
</div>

{% block js %}
{% assets "bt_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
</body>
</html>